<?xml version="1.0" encoding="UTF-8"?>
<bk-script_options>
	<general>
		<version>v1.1</version>	
		<versionstxt> mit config.xml-Datei</versionstxt>
		<title>Starter BK</title>
		<text>Meld-Vergleich auswählen ($version$versionstxt)</text>
		<config>Einstellungen</config>
	</general>
	<directories>
		<stickort>"/media/stefan"</stickort>
	</directories>
	<vergleiche>
		<ordpaar>
		<name>test</name>
		<dir1>~/prog/as</dir1>
		<dir2>/home/woher/</dir2>
		</ordpaar>
		<ordpaar>
		<name>test2</name>
		<dir1>~/slae_kim/usr</dir1>
		<dir2>/home/woher/</dir2>
		</ordpaar>
		<ordpaar>
		<name>Keepass_#6</name>
		<dir1>/home/stefan/.door3</dir1>
		<dir2>/mnt/iserv_laettig/Files/kp/myt</dir2>
		</ordpaar>
		<ordpaar>
		<name>meld_#10</name>
		<dir1></dir1>
		<dir2></dir2>
		</ordpaar>
	</vergleiche>

</bk-script_options>
<!-- Ende des XML-Dokumentes -->
<!-- kiene Lücken im Namen ; keine ~/ in Verzeichnissen -->
