<?xml version="1.0" encoding="UTF-8"?>
<bk-script_options
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="/home/stefan/prog/bakki/Bakki-the-stick/config.xsd">

	<general>
		<version date="2024-07-01">1.1</version>
		<verstxt> mit config.xml-Datei</verstxt>
		<title>Starter BK</title>
		<text>Meld-Vergleich auswählen (v$version;$verstxt)</text>
		<config>Einstellungen</config>
		<confProg>geany</confProg>
		<meld>Meld-Programm</meld>
	</general>
	<directories>
		<homeVerz>/home/stefan</homeVerz>
		<stickort>/media/stefan</stickort>
		<StdVerz>/slaekim</StdVerz>
		<RemoteOrt>/mnt/iserv_laettig/Files</RemoteOrt>
	</directories>

	<vergleiche>
		<ordpaar>
		<id>00</id>
		<name>SLAE01</name>
<!-- keine Lücken im Namen / SLAEnn nur ALLEGROSS oder alleklein  ;-->
		<dir1>~/slae_kim</dir1>
		<dir2>$stickort/SLAE01$StdVerz</dir2>
		</ordpaar>
		<ordpaar>
		<id>01</id>
		<name>iservUSR</name>
		<dir1>~/slae_kim/usr</dir1>
		<dir2>$RemoteOrt/usr</dir2>
		</ordpaar>
		<ordpaar>
		<id>02</id>
		<name>iserv_unt</name>
		<dir1>~/slae_unt</dir1>
		<dir2>$RemoteOrt/unt</dir2>
		</ordpaar>
		<ordpaar>
		<id>03</id>
		<name>iservAusdruck</name>
		<dir1>~/slae_kim/ausdruck</dir1>
		<dir2>$RemoteOrt/ausdruck</dir2>
		</ordpaar>
		<ordpaar>
		<id>04</id>
		<name>ShuffleUnt</name>
		<dir1>~/slae_kim/abf</dir1>
		<dir2>~/slae_unt</dir2>
		</ordpaar>
		<ordpaar>
		<id>05</id>
		<name>SLAE03</name>
		<dir1>~/slae_kim</dir1>
		<dir2>$stickort/SLAE03$StdVerz</dir2>
		</ordpaar>
		<ordpaar>
		<id>06</id>
		<name>Keepass</name>
		<dir1>~/.door3</dir1>
		<dir2>$RemoteOrt/kp/myt</dir2>
		</ordpaar>

		<ordpaar>
		<id>07</id>
		<name>KIMocloud_td</name>
		<dir1>???</dir1>
		<dir2>???</dir2>
		</ordpaar>

		<ordpaar>
		<id>08</id>
		<name>BK_dokumente_td</name>
		<dir1>~/dokumente</dir1>
		<dir2>afp://stefan@willem.local/francois3/dokumente</dir2>
		</ordpaar>

		<ordpaar>
		<id>09</id>
		<name>rsync_push_td</name>
		<dir1>/fff???</dir1>
		<dir2>???dsda</dir2>
		</ordpaar>
	</vergleiche>

</bk-script_options>
<!-- Ende des XML-Dokumentes -->

