<?xml version="1.0" encoding="UTF-8"?>
<bk-script_options
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="/home/stefan/prog/bakki/Bakki-the-stick/config.xsd">

<!--
placeholder_space="#x0020"
-->

	<general>
		<version date="2024-08-07">1.2a</version>
		<version_strg> Anpassung offi</version_strg>
		<lang>de</lang>
		<title_strg>Starter BK</title_strg>
		<menue_strg>Meld-Vergleich auswählen (v$version;$verstxt)</menue_strg>
		<config_strg>Einstellungen</config_strg>
		<editor_prog>gedit</editor_prog>
		<prog_strg>meld</prog_strg>
	</general>
	<directories>
		<home_directory>/home/stefan</home_directory>
		<storage_location>/media/stefan</storage_location>
		<standard_path>/slaekim</standard_path> 
		<remote_path>/mnt/iserv_laettig/Files</remote_path>
	</directories>

	<vergleiche>
<!--
		keine Lücken in name
		immer #x0020 für nix/leer 
-->
		<ordpaar>
		<id>00</id>
		<name>SLAE01</name>
		<dir1>~/slae_kim</dir1>
		<dir2>$stickort/SLAE01$stdpath</dir2>
		</ordpaar>

		<ordpaar>
		<id>01</id>
		<name>iserv#x0020USR</name>
		<dir1>~$stdpath/usr</dir1>
		<dir2>$remotepath/usr</dir2>
		</ordpaar>
		<ordpaar>
		<id>02</id>
		<name>iserv#x0020unt</name>
		<dir1>~/slae_unt</dir1>
		<dir2>$remotepath/unt</dir2>
		</ordpaar>
		<ordpaar>
		<id>03</id>
		<name>iserv#x0020Ausdruck</name>
		<dir1>~/slae_kim/ausdruck</dir1>
		<dir2>$remotepath/ausdruck</dir2>
		</ordpaar>
		<ordpaar>
		<id>04</id>
		<name>Shuffle#x0020nach#x0020unten</name>
		<dir1>~/slae_kim/abf</dir1>
		<dir2>~/slae_unt</dir2>
		</ordpaar>

		<ordpaar>
		<id>05</id>
		<name>SLAE03</name>
		<dir1>~/slae_kim</dir1>
		<dir2>$stickort/SLAE03$stdpath</dir2>
		</ordpaar>
		<ordpaar>

		<id>06</id>
		<name>Keepass</name>
		<dir1>~/.door3</dir1>
		<dir2>$remotepath/kp/myt</dir2>
		</ordpaar>

		<ordpaar>
		<id>07</id>
		<name>KIMocloud_td</name>
		<dir1>???</dir1>
		<dir2>???</dir2>
		</ordpaar>

		<ordpaar>
		<id>08</id>
		<name>BK_dokumente_td</name>
		<dir1>~/dokumente</dir1>
		<dir2>afp://stefan@willem.local/francois3/dokumente</dir2>
		</ordpaar>

		<ordpaar>
		<id>09</id>
		<name>rsync_push_td</name>
		<dir1>#x0020</dir1>
		<dir2>#x0020</dir2>
		</ordpaar>
	</vergleiche>

</bk-script_options>
<!-- Ende des XML-Dokumentes -->

